img .amount-img{
  background-color: transparent;
}
img {
 background-color: transparent;
 border-radius: 20px;
}

img:hover {
  border-radius: 20px;
  box-shadow: 1px 1px 15px 10px yellow;
}

img.background {
  border-radius: 20px;
  box-shadow: 1px 1px 15px 10px yellow;
}
/* .background {
  background-image: url(./Components/Background.jpeg);
  width: 200px;
  height: 200px;
  background-size: cover;
  
} */



div .Home{
  background-color: black;
}

div.App{
  background-color: black;
}

html {
  background-color: black;
}

section a {
  color: blue;
}

section a:hover{
  box-shadow: 1px 1px 15px 10px yellow;
  background-color: yellow;
  border-radius: 5px;
  color: red;

}

span {
  
  font-size: xx-large;
  box-shadow: 1px 1px 15px 10px yellowgreen;
  background-color: yellowgreen;
  border-radius: 8px;
}


nav {
  background: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 40px;
  margin-bottom: 1em;
  box-shadow: 8px 8px 16px yellow;
}

label {
  color: turquoise;
  font-size: larger;
  font-weight: 500;
}
nav a {
  color: red;
  font-size: larger;
}
p{
  color: turquoise;
  font-size: larger;
  font-weight: bolder;
}

p.moon{
  font-size: xx-large;
  font-weight: bolder;
}

h1{
  color : turquoise;
  text-decoration: underline;
}

h2 {
  color : turquoise;
  
}
h3 {
  color: turquoise;
}

th{
  color: yellowgreen;
  font-size: x-large;
  text-decoration: underline;
}

button{
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  background-color: yellow;
  color: red;
  font-size: medium;
  
}
button:hover {
  box-shadow: 2px 2px 15px 5px yellow;
}




nav a.Appname {
color: yellowgreen;
font-size: 50px;
box-shadow: 2px 2px 15px 5px yellow;
border-radius: 15px;

}

nav a.Appname:hover{
  box-shadow: 2px 2px 15px 10px yellow;
  background-color: yellow;
}

table {
  width:50%;
  margin: auto;
}
td {
  text-align: center;
}
tbody td:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.div .showNavigation {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

input[type],
textarea {
  display: block;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  font-size: larger;
}
input[type="submit"] {
  width: 8%;
  border-radius: 15px;
  background-color: greenyellow;
  font-size: larger;

}

input[type="submit"]:hover{
  box-shadow: 2px 2px 15px 5px yellow;
  color: red;
}


.New form {
  margin: auto;

}

main{
  width: 90%;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
}
.App {
  text-align: center;
  background-color: gray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
}
 */
